::-webkit-calendar-picker-indicator
{
	filter: invert(1);
}

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
	background-color: #252525;
}

::-webkit-scrollbar-thumb
{
	background: #2f2f2f;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover
{
	background: #545454;
}

::selection
{
	background: #102027;
}

::-moz-selection
{
	background: #102027;
}

body
{
	display: flex;
	flex-wrap: wrap;
	background-color: #252525;
}

*, *:before, *:after
{
	padding: none;
	margin: none;
	box-sizing: border-box;
}

.Container
{
	width: 40%;
	min-width: 450px;
	border: 1px solid #353535;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	padding: 50px 30px;
}

.Input-Wrppr
{
	background-color: #2f2f2f;
	padding: 30px 25px;
	border-radius: 5px;
	box-shadow: -10px 15px 20px rgba(0, 0, 0, 0.3);
}

.Container * 
{
	font-family: 'Open Sans', sans-serif;
	border: none;
	outline: none;
}

input, button
{
	height: 50px;
	background-color: #fafafa;
	color: #080808;
	font-weight: 500;
	border-radius: 5px;
}

input
{
	transition: 0.2s;
	width: 60%;
	padding: 0 20px;
	font-size: 14px;
	background-color: #282828;
	color: #fafafa;
}

input:hover
{
	transition: 0.2s;
	background-color: #252525;
}

button
{
	transition: 0.2s;
	width: 30%;
	float: right;
	background-color: #282828;
	color: #fafafa;
}

button:hover
{
	transition: 0.2s;
	color: #fafafa;
	background-color: #252525;
}

.Output-Wrppr
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.Output-Wrppr div
{
	height: 100px;
	width: 100px;
	background-color: #2f2f2f;
	border-radius: 5px;
	color: #fafafa;
	display: grid;
	place-items: center;
	padding: 20px 0;
	box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.3);
}

span
{
	transition: 0.2s;
	font-size: 30px;
	font-weight: 500;
	pointer-events: none !important;
}

p
{
	font-size: 14px;
	color: #fafafa;
	font-weight: 400;
	pointer-events: none !important;
}